<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=com.aniket"/>
        <listEntry value="artifactId=20-Ass-Hib-AUTO-PK-MySQL"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.aniket._Ass_Hib_AUTO_PK_MySQL"/>
        <listEntry value="outputDirectory=D:\Aniket\STUDY\JAVA THE KING\Hibernate\Hibernate_Assign"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Aniket\AppData\Local\Temp\m2e-archetypeGenerator1724935124204209111"/>
</launchConfiguration>
